<?xml version="1.0" encoding="UTF-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.HelloWorld" android:versionCode="1" android:versionName="1.0">  
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19"/>  
    <supports-screens android:smallScreens="false" android:normalScreens="true" android:largeScreens="false"/>  
    <uses-permission android:name="android.permission.INTERNET"/>  
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>  
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>  
    <!-- Push permissions -->  
    <permission android:name="com.HelloWorld.permission.C2D_MESSAGE" android:protectionLevel="signature"/>  
    <uses-permission android:name="com.HelloWorld.permission.C2D_MESSAGE"/>  
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/> 
    <!-- 允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>  
    <!-- 访问GMail账户列表 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>  
    <!-- 允许程序请求验证从AccountManager -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>  
    <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
    <!-- 通过GPS芯片接收卫星的定位信息，定位精度达10米以内 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> 
    <!-- 访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="@string/app_name" android:icon="@drawable/zhifeiji"> 
        <activity android:name=".HelloWorld" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTask" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:screenOrientation="sensor"> 
            <intent-filter> 
                <action android:name="android.intent.action.MAIN"/>  
                <category android:name="android.intent.category.LAUNCHER"/> 
            </intent-filter>  
            <intent-filter> 
                <action android:name="com.HelloWorld.HelloWorld.NOTIFICATION"/>  
                <category android:name="android.intent.category.DEFAULT"/> 
            </intent-filter> 
            <intent-filter>
			  <data android:scheme="URL_SCHEME"/>
			  <action android:name="android.intent.action.VIEW" />
			  <category android:name="android.intent.category.DEFAULT" />
			  <category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
        </activity>  
        <!-- Preference Activity  -->  
        <activity android:name="com.worklight.common.WLSettingActivity" android:label="Worklight Settings"></activity>  
        <!-- UI Activity for displaying native dialogs  -->  
        <activity android:name="com.worklight.wlclient.ui.UIActivity"/>  
        <!-- Push service  -->  
        <!-- In order to use the c2dm library, an application must declare a class with the name C2DMReceiver, in its own package, extending com.google.android.c2dm.C2DMBaseReceiver 
			It must also include this section in the manifest, replacing "com.google.android.apps.chrometophone" with its package name. -->  
        <service android:name=".GCMIntentService"/>  
        <service android:name=".ForegroundService"/>  
        <!-- Only google service can send data messages for the app. If permission is not set - any other app can generate it -->  
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND"> 
            <!-- Receive the actual message -->  
            <intent-filter> 
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>  
                <category android:name="com.HelloWorld"/> 
            </intent-filter>  
            <!-- Receive the registration id -->  
            <intent-filter> 
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>  
                <category android:name="com.HelloWorld"/> 
            </intent-filter> 
        </receiver> 
    </application> 
</manifest>
